@font-face{
  font-family: "Strretch-sans";
  src: url(/assets/fonts/STRRETCH\ SANS.ttf);
}
::root{
  --bg-color: ;   
}

.container-title{
  color: #FFF;
}
.slide{
  height: 95vh;
  overflow: hidden;
}
.font-size{ 
  font-family: "Strretch-sans";
  font-size: 4rem;
}
.about-me-text{
 
  font-size: 2rem;
  color: #fff;

}
 .about-me-text::after{
  content: "";
  width: 100%;
  height: 4px;
  background-color: #f0506e;
  border-radius: 16px ;
  display: block;
  position: relative;
  top: 20px;

} 